.header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
    }

#Ï€{  
width: 135px;  
border: 3px solid gray;  
    border-radius: 3px;  
    padding: 20px;  
    background-color: rgb(62, 48, 190);  
}

 
#clear{  
width: 135px;  
border: 3px solid rgb(0, 0, 0);  
    border-radius: 3px;  
    padding: 20px;  
    background-color: rgb(255, 255, 255);  
}
 
.formstyle  
{  
width: 350px;  
height: 550px;  
margin: auto;  
border: 3px solid rgb(0, 0, 0);  
border-radius: 5px;  
padding: 20px;
background-color: rgb(81, 81, 82);  
}  
  
  
  
input  
{  
width: 20px;  
background-color: rgb(255, 255, 255);  
color: rgb(228, 0, 0);  
border: 3px solid rgb(0, 0, 0);  
    border-radius: 5px;  
    padding: 26px;  
    margin: 5px;  
    font-size: 15px;  
}  
  
  
#calc{  
width: 250px;  
border: 5px solid rgb(0, 0, 0);  
    border-radius: 3px;  
    padding: 20px;  
    margin: auto;  
}
